.container {
	display: flex;
}

.profile {
	background-color: $blue;
	padding: 3rem;
	padding-right: 8rem;
	padding-bottom: 7rem;
	border-radius: 1rem;
	margin-right: 2rem;

	img {
		width: 80px;
		border-radius: 50%;
		border: 3px solid #fff;
	}

	div {
		margin-top: 4rem;

		h1 {
			color: #fff;
			font-weight: 300;
			font-size: 4rem;
			width: min-content;
		}
	}
}

.menu {
	background-color: $dark-blue;
	margin-right: 2rem;
	padding: 2rem 3rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;

	.menu-item {
		cursor: pointer;

		&:hover {
			color: #fff;
		}
	}

	.active {
		color: #fff;
	}
}

.report-card {
	&__card {
		min-width: 250px;
	}

	&__background {
		text-align: right;
		padding-right: 2rem;
		height: 5.8rem;
		border-top-right-radius: 1rem;
		border-top-left-radius: 1rem;
		transform: translateY(10px);
	}

	&__content {
		padding: 3rem;
		background-color: $dark-blue;
		position: relative;
		z-index: 1;
		border-radius: 1rem;
		cursor: default;
		transition: background-color 0.1s;

		&:hover {
			background-color: hsl(235, 41%, 34%);
		}

		div {
			background-color: unset !important;
		}
	}

	&__card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			cursor: pointer;

			&:hover {
				filter: brightness(0) invert(1);
			}
		}
	}

	&__work {
		div:first-child {
			background-color: $work;
		}
	}

	&__play {
		div:first-child {
			background-color: $play;
		}
	}

	&__study {
		div:first-child {
			background-color: $study;
		}
	}

	&__exercise {
		div:first-child {
			background-color: $exercise;
		}
	}

	&__social {
		div:first-child {
			background-color: $social;
		}
	}

	&__self-care {
		div:first-child {
			background-color: $self-care;
		}
	}
}

.row {
	display: flex;
	column-gap: 2rem;
	margin-bottom: 2rem;

	h1 {
		color: #fff;
		font-weight: 300;
		font-size: 6rem;
	}
}
