* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(226deg, 43%, 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

p {
  color: hsl(236deg, 100%, 87%);
  font-size: 1.7rem;
}

.container {
  display: flex;
}

.profile {
  background-color: hsl(246deg, 80%, 60%);
  padding: 3rem;
  padding-right: 8rem;
  padding-bottom: 7rem;
  border-radius: 1rem;
  margin-right: 2rem;
}
.profile img {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile div {
  margin-top: 4rem;
}
.profile div h1 {
  color: #fff;
  font-weight: 300;
  font-size: 4rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.menu {
  background-color: hsl(235deg, 46%, 20%);
  margin-right: 2rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.menu .menu-item {
  cursor: pointer;
}
.menu .menu-item:hover {
  color: #fff;
}
.menu .active {
  color: #fff;
}

.report-card__card {
  min-width: 250px;
}
.report-card__background {
  text-align: right;
  padding-right: 2rem;
  height: 5.8rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(10px);
}
.report-card__content {
  padding: 3rem;
  background-color: hsl(235deg, 46%, 20%);
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  cursor: default;
  transition: background-color 0.1s;
}
.report-card__content:hover {
  background-color: hsl(235deg, 41%, 34%);
}
.report-card__content div {
  background-color: unset !important;
}
.report-card__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.report-card__card-header img {
  cursor: pointer;
}
.report-card__card-header img:hover {
  filter: brightness(0) invert(1);
}
.report-card__work div:first-child {
  background-color: hsl(15deg, 100%, 70%);
}
.report-card__play div:first-child {
  background-color: hsl(195deg, 74%, 62%);
}
.report-card__study div:first-child {
  background-color: hsl(348deg, 100%, 68%);
}
.report-card__exercise div:first-child {
  background-color: hsl(145deg, 58%, 55%);
}
.report-card__social div:first-child {
  background-color: hsl(264deg, 64%, 52%);
}
.report-card__self-care div:first-child {
  background-color: hsl(43deg, 84%, 65%);
}

.row {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
}
.row h1 {
  color: #fff;
  font-weight: 300;
  font-size: 6rem;
}

@media screen and (max-width: 1072px) {
  .container {
    flex-direction: column;
  }

  .main-card {
    display: flex;
  }

  .profile {
    display: flex;
    align-items: center;
    padding: 4rem;
    margin: 0;
  }
  .profile img {
    width: 20%;
    margin-right: 2rem;
  }
  .profile div {
    margin: 0;
  }

  .menu {
    justify-content: space-evenly;
  }

  .report-card__card {
    min-width: 31%;
  }
}
@media screen and (max-width: 651px) {
  .main-card {
    flex-direction: column;
    margin: 0 auto;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  .profile {
    padding: 3rem 2.5rem;
  }
  .profile img {
    width: 80px;
  }
  .profile h1 {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    font-size: 3rem !important;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .row {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 2rem;
    margin: 0;
    margin-top: 2rem;
  }

  .report-card__time-spent {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 8px;
  }
  .report-card__time-spent h1 {
    font-size: 3.4rem;
  }
}/*# sourceMappingURL=style.css.map */